---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there! 👋 </h1>
			<p> 
				This blog is all about exploring the world of <b>Microsoft 365</b> and <b>PowerShell</b>.
				Here, you will find:  
			</p>
			<ul>
				<li>Practical scripts and tips to automate your daily work</li>
				<li>Deep dives into Microsoft 365 administration  </li>
				<li>Tutorials, best practices, and real-world examples  </li>
				<li>Personal insights from my journey as an IT professional</li>
			</ul>
			<p>
				Whether you're just starting with PowerShell or already managing complex Microsoft 365 environments, my goal is to share knowledge that helps you work smarter, not harder.  
			</p>
			<p>
				Stay tuned for regular updates — and let's make Microsoft 365 automation easier, together! 🚀
			</p>
		</main>
		<Footer />
	</body>
</html>
